/build/
/dist/
/nbproject/
/*.zip/classes/
*.patch
*.war
/classes/
/.idea
itutor-service.iml
.classpath
.project
.settings
hs_err_pid*.log
target/*
/WebRoot/WEB-INF/classes/
/bin/
logs/*
#/src/main/*
pieces_stock_index/*
.lein-failures
.lein-repl-history
pieces.csv
temp
songbingwei
root@192.168.2.142
autoid.xml
fileupload/*
